<div class="row">
  <div class="col-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h3 class="page-title">Roles</h3>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="matrix.inicio" >Inicio</a></li>
                <li class="breadcrumb-item"><a ui-sref="matrix.rol" >Acceso</a></li>
                <li class="breadcrumb-item active" ui-sref="matrix.rol" aria-current="page">rol</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title m-b-0 amber" style="cursor:pointer;" ng-click="openmodal('crear','data')">Agregar Rol <i class="fas fa-server"></i></h5>
        <div class="table-responsive">
          <table id="table-rol" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="align-center"><strong class="align-center"><b>#</b></strong></th>
                <th><b>NOMBRE</b></th>
                <th class="text-center"><b>ESTADO</b></th>
                <th  class="text-center"colspan="1" class="align-center"><b>ACCIÓNES</b></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="rol in listarRoles">
                <th class="align-center">{{$index + 1}}</th>
                <td>{{rol.Nombre}}</td>
                <td class="text-center" style="padding-bottom: 0px; padding-top: 14px;"><h4><span class="badge {{rol.clase}} white">{{rol.Estado}}</span></h4></td>
                <td class="text-center" style="padding-bottom: 0px; padding-top: 9px;">
                  <button type="button" style="cursor:pointer;" ng-click="openmodal('actualizar',rol)" tooltip data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="btn bg-light-blue waves-effect waves-float">
                    <i class="font-28 mdi mdi-account-edit white"></i>
                  </button>
                  <button type="button" ng-click="cambiarEstadoRol(rol.Estado,rol.Codigo)" style="cursor:pointer;" tooltip data-toggle="tooltip" data-placement="left" data-original-title="Cambiar estado" class="btn bg-yellow waves-effect waves-float">
                    <i class="font-28 mdi mdi-traffic-light white"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="modaluirol" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 72%;" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding-bottom: 0px;">
          <div class="row mb-3">
            <div class="col-xs-12"><h3 class="modal-title ml30" id="exampleModalLabel">{{titulomodal}}</h3></div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true ">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form ng-submit="uiRol()">
            <div id="testmodal" class="demo-masked-input" style="padding: 5px 20px;">
              <div class="row mb-3">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <label for="nombre" class="control-label col-form-label">Nombre</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="nombre" aria-describedby="addon" ng-model="rol.nombre" name="nombre" placeholder="Nombre" required>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-4 mb10" ng-repeat="menu in jsonmenu.modulos">
                  <ul class="list-group">
                    <h3 class="mr0"><span class="label bg-orange">{{menu.titulo}}</span></h3>
                    <li ng-repeat="opcion in menu.opciones" class="list-group-item">
                      <div class='form'>
                        <label class='form-switch'>
                          <span class='text'>{{opcion.titulo}} </span>
                          <input class='field' type='checkbox' ng-model="opcion.estado">
                          <span class='toggle'></span>
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12 align-right" style="margin-top: 10px;">
                  <div class="input-group">
                    <button type="submit" class="btn waves-effect bg-light-green white"><i class="mdi mdi-send"></i><span> {{btnnombremodal}}</span></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
