<div class="row">
  <div class="col-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h3 class="page-title">Usuarios</h3>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="matrix.inicio" >Inicio</a></li>
                <li class="breadcrumb-item"><a ui-sref="matrix.usuario" >Acceso</a></li>
                <li class="breadcrumb-item active" ui-sref="matrix.usuario" aria-current="page">usuarios</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title m-b-0 amber" style="cursor:pointer;" ng-click="openmodal('crear','data')">Agregar Usuario <i class="mdi mdi-account-plus"></i></h5>
        <div class="table-responsive">
          <table id="table-usuario" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-center"><strong>#</strong></th>
                <th><b>USUARIO</b></th>
                <th><b>DOCUMENTO</b></th>
                <th><b>NOMBRE</b></th>
                <th><b>CARGO</b></th>
                <th><b>ROL</b></th>
                <th><b>CELULAR</b></th>
                <th class="text-center"><b>ESTADO</b></th>
                <th class="text-center"><b>ACCIÓNES</b></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="usu in listarUsuarios">
                <td class="align-center">{{$index + 1}}</td>
                <td>{{usu.UserAcces}}</td>
                <td>{{usu.Documento}}</td>
                <td>{{usu.NombresApellido}}</td>
                <td>{{usu.CargoEmpresa}}</td>
                <td>{{usu.NombreRol}}</td>
                <td>{{usu.Celular}}</td>
                <td class="text-center" style="padding-bottom: 0px; padding-top: 14px;"><h4><span class="badge {{usu.clase}} white">{{usu.EstadoUsers}}</span></h4></td>
                <td class="text-center" style="padding-bottom: 0px; padding-top: 9px;">
                  <button type="button" ng-click="openmodal('actualizar',usu)" style="cursor:pointer;" tooltip data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="btn bg-light-blue waves-effect waves-float">
                    <i class="font-28 mdi mdi-account-edit white"></i>
                  </button>
                  <button type="button" ng-click="cambiarEstadoUser(usu.EstadoUsers,usu.UsersId)" style="cursor:pointer;" tooltip data-toggle="tooltip" data-placement="left" data-original-title="Cambiar estado" class="btn bg-yellow waves-effect waves-float">
                    <i class="font-28 mdi mdi-traffic-light white"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="modaluiuser" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 72%;" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding-bottom: 0px;">
          <div class="row mb-3">
            <div class="col-xs-12"><h3 class="modal-title ml30" id="exampleModalLabel">{{titulomodal}}</h3></div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true ">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form ng-submit="uiUser()">
            <div id="testmodal" class="demo-masked-input" style="padding: 5px 20px;">
              <div class="row mb-3">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <label for="tipodocumento" class="control-label col-form-label">Tipo de documento</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addontipodocumento"><i class="fa fa-user"></i></span>
                    </div>
                    <select class="select2 form-control custom-select" id="tipodocumento" aria-describedby="addontipodocumento" ng-model="user.tipodocumento" name="tipodocumento" >
                      <option value="" selected>Seleccionar tipo de documento</option>
                      <option ng-selected="user.tipodocumento == {{tipodoc.Codigo}}" ng-repeat="tipodoc in listarTipoDocumentos" ng-value="tipodoc.Codigo">{{tipodoc.Nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <label for="documento" class="control-label col-form-label">Documento</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addondocumento"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="number" class="form-control" id="documento" aria-describedby="addondocumento" ng-model="user.documento" name="documento" placeholder="Documento" required>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <label for="nombre" class="control-label col-form-label">Nombres</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addonnombre"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="nombre" aria-describedby="addonnombre" ng-model="user.nombres" name="nombres" placeholder="Nombres" required>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <label for="apellido" class="control-label col-form-label">Apellidos</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addonapellido"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="apellido" aria-describedby="addonapellido" ng-model="user.apellidos" name="apellidos" placeholder="Apellidos" required>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-xs-12 col-sm-4 col-lg-4">
                  <label for="documento" class="control-label col-form-label">Celular</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addondocumento"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control cellphone-inputmask" id="celular" aria-describedby="addondocumento" ng-model="user.celular" name="celular" placeholder="Celular" required>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4">
                  <label for="documento" class="control-label col-form-label">Telefono</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addondocumento"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control phone-inputmask" id="telefono" aria-describedby="addondocumento" ng-model="user.telefono" name="telefono" placeholder="Telefono" required>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4">
                  <label for="tipodocumento" class="control-label col-form-label">Cargo</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addontipodocumento"><i class="fa fa-user"></i></span>
                    </div>
                    <select class="select2 form-control custom-select" id="cargo" aria-describedby="addontipodocumento" ng-model="user.cargo" name="cargo" required >
                      <option value="" selected>Seleccionar Cargo</option>
                      <option ng-selected="user.cargo == {{car.Codigo}}" ng-repeat="car in listarCargos" ng-value="car.Codigo">{{car.Nombre}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-xs-12 col-sm-4 col-lg-4">
                  <label for="documento" class="control-label col-form-label">Usuario</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addondocumento"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="Usuario" aria-describedby="addondocumento" ng-model="user.usuario" name="usuario" placeholder="Usuario" required>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4">
                  <label for="documento" class="control-label col-form-label">Contraseña</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addondocumento"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="Contraseña" aria-describedby="addondocumento" ng-model="user.pass" name="pass" placeholder="Contraseña" required>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4">
                  <label for="tipodocumento" class="control-label col-form-label">Rol</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addontipodocumento"><i class="fa fa-user"></i></span>
                    </div>
                    <select class="select2 form-control custom-select" id="rol" aria-describedby="addontipodocumento" ng-model="user.rol" name="rol" required>
                      <option value="" selected>Seleccionar rol</option>
                      <option ng-selected="user.rol == {{rol.Codigo}}" ng-repeat="rol in listarRoles" ng-value="rol.Codigo">{{rol.Nombre}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-12 align-right">
                  <div class="input-group">
                    <button type="submit" class="btn waves-effect bg-light-green white"><i class="mdi mdi-send"></i><span> {{btnnombremodal}}</span></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
