<div class="row">
  <div class="col-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h3 class="page-title">Mensajeria</h3>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="matrix.inicio">Inicio</a></li>
                <li class="breadcrumb-item"><a ui-sref="matrix.mensajeria">Administracion</a></li>
                <li class="breadcrumb-item active" ui-sref="matrix.mensajeria" aria-current="page">mensajeria</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title m-b-0 amber" style="cursor:pointer;" ng-click="openmodal('crear','data')">Agregar Mensajeria <i class="fas fa-box-open"></i></h5>
        <div class="table-responsive">
          <table id="table-mensajeria" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-center"><strong>#</strong></th>
                <th><b>NOMBRE</b></th>
                <th class="text-center"><b>ESTADO</b></th>
                <th class="text-center"><b>ACCIÓNES</b></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="men in listarMensajerias">
                <td class="text-center">{{$index + 1}}</td>
                <td>{{men.Nombre}}</td>
                <td class="text-center" style="padding-bottom: 0px; padding-top: 14px;"><h4><span class="badge {{men.clase}} white">{{men.EstadoMensajeria}}</span></h4></td>
                <td class="text-center" style="padding-bottom: 0px; padding-top: 9px;">
                  <button type="button" style="cursor:pointer;"ng-click="openmodal('actualizar',men)" tooltip data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="btn bg-light-blue waves-effect waves-float">
                    <i class="font-28 mdi mdi-account-edit white"></i>
                  </button>
                  <button type="button" ng-click="cambiarEstadoMensajeria(men.EstadoMensajeria,men.Codigo)" style="cursor:pointer;" tooltip data-toggle="tooltip" data-placement="top" data-original-title="Cambiar estado" class="btn bg-yellow waves-effect waves-float">
                    <i class="font-28 mdi mdi-traffic-light white"></i>
                  </button>
                  <button type="button" ng-click="abrirLink(men.UrlConsulta)" style="cursor:pointer;" tooltip data-toggle="tooltip" data-placement="right" data-original-title="Abrir Pagina" class="btn bg-pink waves-effect waves-float">
                    <i class="font-28 mdi mdi-web white"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="modallink" class="modalfull animated bounceIn" tabindex="-1" role="dialog" style="display:none;" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialogfull">
      <div class="modal-contentfull">
        <iframe id="framemensajeria" sandbox="allow-forms allow-scripts" class="objectfull" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <div id="modaluimensajeria" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 72%;" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding-bottom: 0px;">
          <div class="row mb-3">
            <div class="col-xs-12"><h3 class="modal-title ml30" id="exampleModalLabel">{{titulomodal}}</h3></div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true ">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form ng-submit="uiMensajeria()" id="crearmensajeria">
            <div id="testmodal" class="demo-masked-input" style="padding: 5px 20px;">
              <div class="row mb-3">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <div class="col-xs-12">
                    <label for="documento" class="control-label col-form-label">Nombre</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="addon"><i class="fa fa-user"></i></span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="addon"  ng-model="mensajeria.nombre" name="nombre" placeholder="Nombre" required>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <label for="documento" class="control-label col-form-label">Url</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="addon"><i class="fa fa-user"></i></span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="addon"  ng-model="mensajeria.url" name="sigla" placeholder="Url" required>
                    </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-lg-6">
                 <div class="col-xs-12" style="text-align: center;">
                   <label for="documento" class="control-label col-form-label">Logo</label>
                 </div>
                 <div class="col-xs-12">
                   <p style="text-align: center;"><img class="logo" src="{{mensajeria.logo}}"/></p>
                 </div>
              </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12 align-right">
                  <div class="input-group">
                    <button type="submit" class="btn waves-effect bg-light-green white"><i class="mdi mdi-send"></i><span> {{btnnombremodal}}</span></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<style media="screen">
  .full-screen {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    top: 0 !important;
    left: 0 !important;
   }
   .logo {
     padding: 2px;
     margin: 10px;
     border: 1px solid #dadada;
     /* float: right; */
     width: 250px;
   }
</style>
